/* -------------------------------
index.css
Este CSS contiene los siguientes apartados:
- Reset
- Variables
- Fuentes
- Primeros estilos (Mobile first)
    1. Sección inicio (header)
    2. Sección información (segunda sección)
    3. Sección formulario (formulario reserva)
    4. Sección localización
    5. Footer
- Estilos en tablets y móviles grandes
- Estilos en ordenador y pantallas grandes

-----------------------------------
*/

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ----------------- VARIABLES ----------------- */

:root {
  --color-white: #ffffff;
  --color-black: #000;
  --color-beige: #F2E3D5;
  --color-soft-brown: #CD985C;
  --color-brown: #3C271C;
  --color-orange: #A2603A;
  --color-green: #A7A958;
  --color-form-gray: #ccc;
  --size-figcaption: clamp(0.7rem, 0.0229rem + 1.5267vw, 0.9rem);
  --size-0: clamp(0.6rem, 0.0229rem + 1.5267vw, 0.75rem);
  --size-1: clamp(1rem, 0.9518rem + 0.9542vw, 1.5625rem);
  --size-2: clamp(1.5rem, 0.0687rem + 4.5802vw, 3rem);
  --size-header: clamp(2rem, 0.0916rem + 6.1069vw, 4rem);
}

/* ----------------- FUENTES ----------------- */

/* Indie Flower */
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/indieflower/v21/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Lemon */
@font-face {
  font-family: 'Lemon';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lemon/v17/HI_EiYEVKqRMq3jIQ5TwQw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lemon';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lemon/v17/HI_EiYEVKqRMq3jGQ5Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ----------------- PÁGINA PRINCIPAL  -----------------*/
/* ----------------- PRIMERA SECCIÓN ----------------- */
body {
  background-color: var(--color-brown);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: var(--size-0);
  color: var(--color-beige);
  width: 100%;
  margin: 0 auto;
  padding-top: 1rem;
  line-height: .8rem;
}

.Header {
  background-image: url('../img/gato_portada.webp');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-color: rgba(205, 152, 92, 0.6);
}


/* ----------------- NAVEGADOR ----------------- */

.header__div {
  background-color: rgba(205, 152, 92, 0.7);
  width: 100vw;
  display: block;
}

.header__logo--pawffee, .footer__logo--pawffee, .header__logo--pawffee-word, .footer__logo--pawffee-word {
  width: 50%;
}


.header__picture, .footer__picture {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.header__logo--pawffee-word, .footer__logo--pawffee-word {
 font-size: var(--size-0);
}


.header__picture--card {
  display: none;
}

.header__section, .footer__section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
}

.header__article--nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------------- MENÚ HAMBURGUESA (SOLO EN DISPOSITIVOS MÓVILES) ----------------- */

.div__bars--menu {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 2.1875rem;
  height: 0.315rem;
  background-color: #333;
  margin: 0.24rem 0;
  transition: 0.4s ease;
}

.change .bar1 {
  transform: translate(0, .6rem) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -.5rem) rotate(45deg);
}

.header__nav, .footer__nav {
  font-family: 'Indie flower', Arial, sans-serif;
  text-align: center;
}

.header__nav {
  display: none;
}

.header__nav.isActive {
  display: block;
  
}

.header__ul, .footer__ul {
  line-height: 3rem;
  font-size: var(--size-2);
}

li {
  border-bottom: solid var(--color-brown) 0.1rem;
  transition: transform 0.5s ease-in-out;
  position: relative; 
}

li::before {
  content: ''; 
  position: absolute;
  top: 50%; 
  right: 100%; 
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../img/paw_cat.svg');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
}

li:hover::before {
  opacity: 1; 
}

li:hover {
  transform: translateX(15%);
}


a:hover {
  color: var(--color-beige);
 
}

h1 {
  font-size: var(--size-header);
  font-family: 'Lemon', sans-serif;
  color: var(--color-brown);
  padding: 1rem;
  margin: 1rem;
  width: 75%;
}

.header__line-decoration::before {
  display: none;
}


.header__btn {

  font-family: 'Lemon', sans-serif;
  font-size: var(--size-1);
  color: var(--color-brown);
  background-color: var(--color-beige);
  padding: 1rem;
  border-radius: .5rem;
  align-items: center;
  margin: 1rem 0 5rem 2rem;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s ease;
  }
  
  .header__btn:hover{
  background-color: var(--color-beige);
  color: var(--color-orange);
  }


/* ----------------- SEGUNDA SECCIÓN ----------------- */


h2 {
  font-size: var(--size-2);
  font-family: 'Lemon', sans-serif;
  color: var(--color-beige);
  margin: 2rem 0;
  text-align: center;
  }

.section__article {
  margin: 1rem;
      overflow: hidden;
}

.article__first {
  width: 85%;
  margin: 0 auto;
}

.div__slider {
  width: 100%;
  margin: auto;
  position: relative;
}
.div__slider-container {
  position: relative;
  width: 100%;
}
.div__slider--img {
  display: block;
  background-color: rgb(240, 250, 175);
  position: absolute;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  width: 100%;
  top: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.div__slider--img.isVisible {
  opacity: 1;
}
.div__slider--img:first-child {
  position: static;
}
.div__slider-arrow {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-white);
  opacity: 0.5;
  position: absolute;
  top: calc(50% - 3rem);
  cursor: pointer;
  border-radius: 50%;
}
.div__slider-arrow--next {
  right: 0;
}
.div__slider-arrow--prev {
  left: 0;
}
.div__slider-ul {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 1rem;
}

.div__slider-btn {
  width: 2rem;
  background-color: var(--color-brown);
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
.div__slider-btn.isActive {
  background-color: var(--color-orange);

}


/* ----------------- FORMULARIO RESERVA MESA ----------------- */


.article__form--h2 {
  color: var(--color-brown);
}


.article__reservar {
  text-align: center;
}

.article__picture--arrow img {
  margin-bottom: 1rem;
}

.article__form {
  background-color: var(--color-beige);
  padding: 2rem 0;
}

.article__form form {
  display: flex;
  flex-direction: column;
  align-content: start;
  align-items: flex-start;
  width: 100%;
  padding-left: 1.5rem;
}

input, select {
  width: 90%;
  padding: 0.75rem 1rem;
  margin: .5rem 0;
  display: inline-block;
  border: .0625rem solid var(--color-form-gray);
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.checkbox-container {
  display: flex;
  align-items: center;
}



.form__button, .form__adopt--button {
  background: var(--color-beige);
  border-radius: .5rem;
  color: var(--color-brown);
  border: .1rem solid var(--color-brown);
  text-decoration: none;
  width: 5rem;
  margin: 2rem 0;
  cursor: pointer;
}

.form__button:hover, .form__adopt--button {
  background: var(--color-soft-brown);
  text-decoration: none;
}
/* LOCALIZACIÓN */

.section__location {
  margin: 2rem 0;
}

.article__location {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.article__div--location img {
  width: 3rem;
}

.article__p {
  font-size: var(--size-0);
}

.article__p--logo {
  font-family: 'Indie flower', Arial, sans-serif;
  font-size: var(--size-1);
  margin: 1rem 0;
}
/* FOOTER */

.footer__section {
  background-color: rgba(205, 152, 92, 0.6);
}

.footer__article {
  font-family: 'Indie Flower', 'Arial';
  right: 0;
  color: var(--color-brown);
}
/* ----------------- PÁGINA FORMULARIO ADOPCIÓN ----------------- */

.Header__adopt {
  background-image: url('../img/gato_form.webp');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.header__h2 {
  font-size: var(--size-1);
  color: var(--color-orange);
  width: 90%;
  margin: 2rem 1rem;
  padding: 2rem 0;
}

.section__main {
  background-color: var(--color-brown);
}

.article__form--adopt form{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--color-green);
  padding: 1rem;
}

/* ----------------- PÁGINA CARTA ----------------- */

.section__menu {
  margin-bottom: 6rem;
}

.section__article--menu {
  background-color: var(--color-orange);
  text-align: center;
  width: 100%;
}


.div__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 100%;
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-evenly;
  grid-gap: 2rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-items: stretch;
  padding: 2rem;
  margin: 0 auto;
}

.div__figure {
  width: 100%;
  background: rgba(255, 255, 255, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border-radius: 10%;
  transition: transform .2s ease;
  padding: 1.5rem 2rem;
}

.div__figure:hover {
  transform: scale(1.1); 
}

.div__figure img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem 0;
}

figcaption {
  font-family: 'Indie flower', Arial, sans-serif;
  font-size: var(--size-figcaption);
  background-color: var(--color-beige);
  padding: .5rem;
}

/* MEDIA QUERY PARA TABLETS */

  @media only screen and (min-width: 481px) {
    .header__article {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin: 0 auto;
      padding-left: 1rem;
      width: 100%;
    }
    
    .header__picture, .footer__picture {
      display: block;
    }
   .header__logo--pawffee-word, .footer__logo--pawffee-word {
      display: none;
    }

    .header__logo--pawffee {
      min-height: 20%;
    }
    
    .header__picture--card {
      display: block
    }

    .header__section, .footer__section {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      background-color: rgba(205, 152, 92, 0.6);
      padding: 1rem 2rem;
    }

    .header__ul, .footer__ul {
      display: flex;
      flex-direction: row;
      font-size: var(--size-1);
      gap: 3rem;
    }
    li {
      border-bottom: none;
    }
    .header__nav {
      opacity: 1;
      margin-top: 0;
      display: block;
    }
    h1 {
      width: 60%; 
      transition: transform 1s ease;
      transition: opacity 1s ease;
    }


    .header__line-decoration::before {
      display: block;
    width: 17rem;
    background-color: var(--color-orange);
    content: "";
    position: absolute;
    height: 0.3rem;
    bottom: 45%;
    left: 0;
    }

    .section__picture {
      display: block;
    }
    .div__bars--menu {
      display: none;
    }

    /* PÁGINA ADOPCIÓN PARA TABLETS */

    .header__h2 {
      width: 90%;
    }

    /* ----------------- PÁGINA CARTA ----------------- */

    .div__gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      width: 100%;
      grid-template-rows: repeat(2, 1fr);
      justify-content: space-evenly;
      grid-gap: 2rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      align-items: stretch;
      padding: 2rem;
      margin: 0 auto;
    }
    
/* MEDIA QUERY PANTALLAS */

  @media only screen and (min-width: 768px) {
     /* ----------------- PÁGINA PRINCIPAL ----------------- */

     .header__article {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin: 0 1rem;
      width: 100%;
    }

    .header__picture, .footer__picture {
      display: block;
    }
    .header__logo--pawffee, .footer__logo-pawffee, .header__logo--pawffee-word, .footer__logo-pawffee-word {
      width: 80%;
    }

    .header__logo--pawffee-word, .footer__logo-pawffee-word {
      display: block;
    }
    .header__section, .footer__section {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      background-color: rgba(205, 152, 92, 0.6);
      padding: 1rem 2rem;
    }

    .header__nav {opacity: 1;}

    .header__ul, .footer__ul {
      display: flex;
      flex-direction: row;
      font-size: var(--size-1);
      gap: 3rem;
    }
  
    .header__ul li {
      border-bottom: none;
    }
    h1 {
      width: 50%; 
    }

    .header__line-decoration::before {
      width: 25rem;
      background-color: var(--color-orange);
      content: "";
      position: absolute;
      height: 0.4rem;
      bottom: 38%;
    }

    .header__btn {
      margin: 5rem 0 5rem 2rem;
    }
    .section__picture {
      display: block;
    }
    /* ----------------- SLIDER IMÁGENES ----------------- */

    .section__h2 {
      text-align: left;
    }

    .parent {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      margin-bottom: 4rem;
      }
      
      .div1 { 
      grid-area: 1 / 1 / 2 / 2; 
      width: 90%;
      margin: 0 auto;
    }
      .area2 { grid-area: 1 / 2 / 2 / 3;
      width: 100%;
    margin: 0 auto; }

    .div__slider {
      top: 8rem;
      margin-right: 4rem;
      width: 85%;
    }
    .div__slider-container {
      width: 100%;
    }

    .div__slider--img {
      display: block;
      position: absolute;
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat;
      width: 100%;
      top: 0;
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }
    .div__slider-arrow--next {
      right: 0;
    }

    /* ----------------- SECCION FORMULARIO ----------------- */
    .header__h2 {
      width: 40%;
    }

    .article__form {
      background-color: var(--color-beige);
      display: flex;
      justify-content: center;
      align-items: center; 
    }

    .article__form form {
      width: 40%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }

    .article__div--form {
      float: right;
      width: 50%;
    }
    .article__div--form-label {
      width: 40%;
    }

    .checkbox-container {
      display: inline-block;
    }

    input[type=checkbox] {
      width: 5%;
    }
    /* ----------------- SECCION LOCALIZACIÓN ----------------- */

    .article__location {  
      display: flex;
    flex-direction: row;
    align-items: stretch;
    text-align: center;
    justify-content: space-evenly;
}
    .article__div--location {
      text-align: left;
    }
    
    /* ----------------- PÁGINA CARTA ----------------- */

    
    .section__article--menu {
      background-color: var(--color-orange);
      text-align: center;
      width: 100%;
    }

    .div__gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      width: 90%;
      grid-template-rows: repeat(2, 1fr);
      justify-content: start;
      grid-gap: 3rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      align-items: stretch;
    }
    .div__figure {
      width: 100%;
      background: rgba(255, 255, 255, 0.38);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(4.6px);
      -webkit-backdrop-filter: blur(4.6px);
      border-radius: 10% 10% 0 0;
  }
    .div__figure img {
      width: 100%; 
      object-fit: contain; 
    }

    figcaption {
      font-family: 'Indie flower', Arial, sans-serif;
      font-size: var(--size-figcaption);
      background-color: var(--color-beige);
      padding: 0.75rem;
      margin-top: -1.5rem;
  }
    /* ----------------- PÁGINA ADOPCIÓN ----------------- */


    .article__form--adopt {
      width: 90%;
      margin: 0 auto;
    }

    .article__form--adopt form{
      width: 90%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      background-color: var(--color-green);
      padding: 5rem;
      align-items: flex-start;
    }
  }
  input, select {
    width: 100%;
  }
  }